body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    min-width: 480px;
    margin: 0 auto;
    background: #8ab6dd url(../images/пляж.png) no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    margin: 0 auto;
}
header .wrapper {
    margin: 0 auto;
    margin-top: 22px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper__logo {
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    max-width: 45px;
    height: 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Dorsa', sans-serif;
    color: #263555;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 25px 16px;
    line-height: 27px;
}
 
.wrapper__menu1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -webkit-align-self: center; 
    -ms-flex-item-align: center; 
    align-self: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    margin-top: 30px;
}
.wrapper__menu2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -webkit-align-self: center; 
    -ms-flex-item-align: center; 
    align-self: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    padding-left: 46px;
}

header.wrapper > ul::after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
    background-color: #fff;
}

.wrapper__menu1 > .wrapper__menu1__item{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper__menu2 > .wrapper__menu2__item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper__menu1 > .wrapper__menu1__item > a, .wrapper__menu2 > .wrapper__menu2__item > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.wrapper__menu1 > .wrapper__menu1__item > a:hover, .wrapper__menu2 > .wrapper__menu2__item > a:hover {
   color: #384869;
}

.wrapper__menu1__item__submenu{
    display: none;
    position: absolute;
    min-width: 43px;
    top: 38px;
    left: 18px;
    background-color: white;    
    border-radius: 10%;
}

.wrapper__menu1__item__submenu > .wrapper__menu1__item {
    display: block;
}

.wrapper__menu1__item__submenu > .wrapper__menu1__item > a {
    display: block;
    padding: 2px;
    color: #6b7488;
    background-color:#fff;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    min-width: 10px;
    border-radius: 10%;
}
.wrapper__menu1__item__submenu:before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 47%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
    color: #fff;
}

.wrapper__menu1 > .wrapper__menu1__item:hover > .wrapper__menu1__item__submenu {
    display: block;
    z-index: 1;
}

main {
    width: 100%;
    max-width: 408px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 36px;
    margin-top: 60px;
}

main h2{
    padding-top: 60px;
    padding-bottom: 39px;
    font-size: 28px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    text-transform: uppercase;
}

.gallery {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;  
    width: 100%;
    max-width: 408px; 
}

.gallery picture {
    position: relative;
    height: auto;
    z-index: 1;
    margin-bottom: 40px;
   
}

.gallery .image1 {
    position: absolute;
    z-index: -1;
}


.gallery .image2 {
    position: absolute;
    z-index: -1;
}

.gallery picture::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    z-index: 2;
}
.zoom {
    display: none;
   
}

.gallery picture::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33px;
    height: 33px;
    transform: translate(-50%, -50%);
    background: url(../images/zoom1.svg) center no-repeat;
    -webkit-background-size: 33px 33px;
    background-size: 33px 33px;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 3
}
.gallery picture:hover:after, .gallery picture:hover:before{
    opacity: 1;
}



main .top-button{
    position: fixed;
    margin-left: 414px;
    margin-top: 0px; 
    width: 24px;
    height: 24px;
}

footer {
    background-color: #30455b;
    color: #fff;
    width: 100%;
    max-width: 480px;
    min-height: 132px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-transform: uppercase;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
}

.column-flex {
    width: 100%;
    max-width: 300px;
    min-height: 132px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}


.column-flex__column1 {
    width: 69px;
    height: 36px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 22px;
}

.column-flex__column2 {
    width: 69px;
    height: 36px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 22px;
}
.column-flex__column3 {
    width: 69px;
    height: 36px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 22px;
}

.column-flex__column4{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    max-width: 300px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 14px;
    font-family:'Open Sans Condensed', sans-serif;
}

.column-flex__column__tel {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
}
.column-flex__column4 img {
    max-width: 19px;
    max-height: 20px;
    padding-right: 3px;
    padding-bottom: 4px;
}

#svg{
    display: none;
}

.social_networks {
    width: 100%;
    margin: 0 auto;
    max-width: 904px;
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction:  row;
    -ms-flex-direction:  row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.icon {
    height: 26px;
    width: 26px;
}
.social_networks > a {
    padding: 0 10px;
}

.social_networks p{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    justify-content: center;
    align-self: center;
    color: #fff;
    margin-top: 26px;
    font-size: 12px;

}

#twitter-icon path.twitter-icon,
#facebook-icon path.facebook-icon,
#google-icon polygon.google-icon,
#google-icon path.google-icon,
#instagram-icon path.instagram-icon{
    fill:#e3af60;
}

.icon:hover{
    opacity: 0.5;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    body {
        margin: 0 auto;
        width: 100%;
        width: 768px;
        margin: 0 auto;
    }
    
    header {
        width: 100%;
        margin: 0 auto;
    }
     header .wrapper {
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        padding: 0 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .wrapper__logo {
        margin-left: 42.13%;
        margin-right: 42.13%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 60px;
        height: 34px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 43px;
        border-radius: 50%;
        background-color: #ffffff;
        padding: 32px 21px;
        line-height: 34px;
    }
     
    .wrapper__menu1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-width: 648px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }
    .wrapper__menu2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-width: 648px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        padding: 0;
    }
    .wrapper__menu1 > wrapper__menu1__item {
        position: relative;
        padding-left: 26px;
        padding-right: 10px;
    }
    
    .wrapper__menu2> wrapper__menu2__item {
        position: relative;
        padding-left: 26px;
        padding-right: 10px;
    }
    
    .wrapper__menu1 > wrapper__menu1__item > a, .wrapper__menu2 > wrapper__menu2__item > a {
        display: block;
        padding: 10px;
        font-size: 24px;
    }
    
    .wrapper__menu1__item__submenu {
        display: none;
        position: absolute;
        min-width: 43px;
        top: 48px;
        left: 27px;
        background-color:#ebebf1;   
        border: 1px solid #ebebf1;
        border-radius: 10%;
        line-height: 21px;
    }
    
    .wrapper__menu1__item__submenu > wrapper__menu1__item {
        display: block;
    }
    
    .wrapper__menu1__item__submenu > wrapper__menu1__item > a {
        display: block;
        padding: 2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
        min-width: 60px;
        border-radius: 10%;
        padding-top: 4px;
    }
    .wrapper__menu1__item__submenu:before {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: 47%;
    }
    
    .wrapper__menu1 > wrapper__menu1__item:hover > .wrapper__menu1__item__submenu {
        display: block;
        z-index: 1;
    }

    main {
        width: 100%;
        max-width: 676px;
        margin: 0 auto;
        padding: 0 46px;
        margin-top: 20px;
    }
    
    main h2{
        padding-top: 86px;
        padding-bottom: 46px;
        font-size: 28px;
    }
    
    .gallery {
        max-width: 676px;
    }

    .gallery picture > img {
        max-width: 330px;
        max-height: 180px;
    }
    .gallery picture {
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 40px;
    }


    .gallery .image1 {
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 40px;
        width: 48%;
        max-width: 330px;
        max-height: 180px;
    }
    
    .gallery .image2 {
        display: none;
    }
    .gallery .image1::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        transition: opacity 0.4s;
        z-index: 2;
    }
    .gallery picture:hover:after, .gallery picture:hover:before{
        opacity: 1;
    }
    .gallery .image1:hover:after, .gallery .image1:hover:before{
        opacity: 1;
    }

    main .top-button{
        position: fixed;
        margin-left: 690px;
        margin-top: 0px; 
        width: 28px;
        height: 28px;
    }
    
    footer {
        background-color: #30455b;
        color: #fff;
        width: 100%;
        max-width: 768px;
        min-height: 132px;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        
    }
    footer p {
        font-size: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        width: 644px;
    }
    .column-flex {
        width: 100%;
        max-width: 644px;
        padding-top: 40px;
    }    
    .column-flex__column1 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    
    .column-flex__column2 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    .column-flex__column3 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    
    .column-flex__column4{
        width: 200px;
        height: 45px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 14px;
        
    }

    .column-flex__column4__text{
        font-size: 18px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 12px;
        line-height: 10px;
    }
    .column-flex__column4__tel {
        font-size: 12px;
        padding-top: 3px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 0px;
    }

    .column-flex__column4 img {
        display: none;
    }    
    .icon {
        height: 40px;
        width: 40px;
    }
    .social_networks p{
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        color: #fff;
        margin-top: 26px;
        font-size: 12px;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
      
    body {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        width: 1024px;
        margin: 0 auto;
        background: #8ab6dd url(../images/пляж.png) no-repeat;
        background-size: cover;
    }
    
    header {
        width: 100%;
        margin: 0 auto;
    }
    header .wrapper {
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        margin-top: 47px;
    }
    
    .wrapper__logo {
        position: relative;
        width: 100%;
        max-width: 80px;
        height: 44px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 60px;
        font-family: 'Dorsa', sans-serif;
        color: #263555;
        border-radius: 50%;
        background-color: #ffffff;
        padding: 48px 30px;
        line-height: 44px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin: 0;
    }
     
    .wrapper__menu1 {
        max-width: 290px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        padding: 0;
        margin-top: 0;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .wrapper__menu2 {
        max-width: 290px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        padding: 0;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }
    
    ul::after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
        background-color: #fff;
    }
    
    .wrapper__menu1 > .wrapper__menu1__item {
        position: relative;
        padding-left: 26px;
        padding-right: 10px;
    }
    
    .wrapper__menu2 > .wrapper__menu2__item {
        position: relative;
        padding-left: 26px;
        padding-right: 10px;
    }
    
    .wrapper__menu1 > .wrapper__menu1__item > a, .wrapper__menu2 > .wrapper__menu2__item > a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 28px;
    }
    
    .wrapper__menu1 > .wrapper__menu1__item > a:hover, .wrapper__menu2 > .wrapper__menu2__item > a:hover {
       color: #384869;
    }
    
    .wrapper__menu1__item__submenu {
        display: none;
        position: absolute;
        min-width: 43px;
        top: 48px;
        left: 27px;
        background-color:#ffffff;
        border-radius: 10%;
        line-height: 22px;
        padding-top: 5px;
    }
    
    .wrapper__menu1__item__submenu > .wrapper__menu1__item {
        display: block;
    }
    
    .wrapper__menu1__item__submenu> .wrapper__menu1__item > a {
        display: block;
        padding: 2px;
        color: #6b7488;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        min-width: 60px;
        border-radius: 10%;
        padding-top: 4px;
    }
    .wrapper__menu1__item__submenu:before {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: 47%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 2.5px 3px 2.5px;
        border-color: transparent transparent #fff transparent;
        color: #fff;
    }
    
    .wrapper__menu1 > .wrapper__menu1__item:hover > .wrapper__menu1__item__submenu{
        display: block;
        z-index: 1;
    }

    main {
        width: 100%;
        max-width: 904px;
        background-color: #fff;
        margin: 0 auto;
        padding: 0 60px;
        margin-top: 50px;
    }
    
    main h2{
        padding-top: 98px;
        padding-bottom: 48px;
        font-size: 32px;
    }
    
    .gallery {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 904px;
    }

    .gallery picture > img {
        max-width: 288px;
        max-height: 156px;
    }

    .gallery .image1 {
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 40px;
        width: 288px;
    
    }
    
    .gallery .image2 {
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 40px;
        width: 288px;
    }
    
    .gallery .image1::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        transition: opacity 0.4s;
        z-index: 2;
    }

    .gallery .image2::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        transition: opacity 0.4s;
        z-index: 2;
    }
    .gallery .image1:hover:after, .gallery .image1:hover:before{
        opacity: 1;
    }
    
    .gallery .image2:hover:after, .gallery .image2:hover:before{
        opacity: 1;
    }

    
    main .top-button{
        position: fixed;
        margin-left: 920px;
        margin-top: 0px; 
        width: 30px;
        height: 30px;
    }
    
    footer {
        color: #fff;
        width: 100%;
        max-width: 1024px;
        min-height: 132px;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        text-transform: uppercase;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        
    }
    footer p {
        font-size: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        width: 700px;
    }
    .column-flex {
        width: 100%;
        max-width: 800px;
        min-height: 132px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 40px;
    }    
    .column-flex__column1 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    
    .column-flex__column2 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    .column-flex__column3 {
        width: 69px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 30px;
    }
    
    .column-flex__column4{
        width: 200px;
        height: 45px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 14px;
        
    }

    .column-flex__column4__text{
        font-size: 18px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 12px;
        line-height: 10px;
    }
    .column-flex__column4__tel {
        font-size: 12px;
        padding-top: 3px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-bottom: 0px;
    }

    .column-flex__column4 img {
        display: none;
    }
    .icon {
        height: 40px;
        width: 40px;
    }
    .social_networks p{
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        color: #fff;
        margin-top: 26px;
        font-size: 12px;
        justify-content: center;
    }
    
}
