body {
    background: #8ab6dd url(../images/пляж.png) no-repeat;
    background-size: cover;
}
.wrapper {
    margin: 0 auto;
    margin-top: 47px;
    padding: 0;
    box-sizing: border-box;
    width: 1024px;
    padding: 0 60px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 80px;
    height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Dorsa', sans-serif;
    color: #263555;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 46px 29px;
    line-height: 42px;
}
 
.menu1 {
    display: block; 
    list-style: none;
    float: left;
    margin-top: 40px;
    margin-left: 54px;
    
}
.menu2 {
    display: block; 
    list-style: none;
    float: right;
    margin-top: 40px;
    margin-right: 41px;
    
}

ul::after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu1 > li {
    display: block;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu2 > li {
    display: block;
    float: right;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu1 > li > a, ul.menu2 > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
}

ul.menu1 > li > a:hover, .menu2 > li > a:hover {
   color: #384869;
}

ul.submenu {
    display: none;
    position: absolute;
    min-width: 65px;
    top: 50px;
    left: 13px;
    background-color: white;    
    border-radius: 10%;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: #6b7488;
    background-color:#fff;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 10px;
    border-radius: 10%;
}
.submenu:before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 47%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
    color: #fff;
}

ul.menu1 > li:hover > .submenu {
    display: block;
}

main .wrapper {
    width: 1024px;
    background-color: #fff;
    padding: 0 60px;
    display: flex;
    margin-top: 57px;
}

h1{
    font-size: 32px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    margin-bottom: 50px;
    padding-top: 118px;
    font: bold;
}

h3{
    margin-bottom: 18px;
    font-size: 15px;
    font-family: Arial;
    color: #263555;
    line-height: 19px;
}

main .wrapper img {
    width: 360px;
    height: 280px; 
}

.left_part {
    width: 692px;
}

.right_part {
    width: 212px;
}

main .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
}

.text {
    display: flex;
    width: 260px;
    flex-wrap: wrap;
    padding-left: 18px;
    padding-bottom: 16px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 48px;
    line-height: 19px;
}

.text1 {
    display: flex;
    width: 648px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 48px;
    line-height: 19px;
    padding-bottom: 54px;
}

hr {
    position: absolute;
    width: 904px;
    color: #dedbdb;
}

.profile h1{
    font-size: 32px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    margin-bottom: 50px;
    padding-top: 78px;
    font: bold;
}

.offer p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 48px;
    line-height: 19px;
    padding-bottom: 54px;
}

main .offer h3 {
    width: 637px;
}

.list {
    display: flex;
    width: 530px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.list p{
    width: 265px;
    color: #263555;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

main .list p > img {
    width: 10px;
    height: 7px;
    padding-right: 13px;
}

.principales ol li{
    font-size: 13px;
    font-family: Arial;
    list-style-type: none;
    counter-increment: step-counter;
    padding-left: 25px;
    padding-bottom: 32px;
    line-height: 20px;
}

.principales li::before {
    content: counter(step-counter);
    font-family: Arial;
    display: inline;
    font-size: 13px;
    background-color: #38afe5;
    color: white;
    border-radius: 28px;
    padding: 8px 12px;
    position: absolute;
    margin-left: -34px;
}

.super{
    font-size: 15px;
    vertical-align: super;
    font-weight: bold;
    color: #263555;
}
.testimonial {
    position: relative;
}

main .testimonial h1 {
    padding-top: 78px;
}

main .testimonial P{
    font-size: 15px;
    color: #263555;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    position: absolute;
    padding: 0 22px;
    z-index: 1;

}
main .testimonial h3{
    font-size: 16px;
    color: #263555;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 240px;
}

main .testimonial h4 {
    font-size: 13px;
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main .testimonial img {
    position: absolute;
    width: 212px;
    height: 218px;
    top: 148px;
    z-index: 0;
}

main .wrapper .top-button > img {
    position: fixed;
    margin-left: 14px;
    margin-top: 40px;
    width: 33px;
    height: 33px;
}

footer {
    background-color: #30455b;
    color: #fff;
    width: 904px;
    height: 135px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    
}
footer p {
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
    width: 209px;
    
    
}
footer .column-flex {
    width: 904px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

footer .column {
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .column_1 {
    width: 100px;
    height: 45px;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}

footer .column_2 {
    width: 100px;
    height: 45px;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}
footer .column_3 {
    width: 100px;
    height: 45px;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;

}
footer .column_4 {
    width: 100px;
    height: 45px;
    flex-grow: 2;
    align-self: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
}

.social_networks {
    width: 100%;
    margin: 0 auto;
    max-width: 904px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social_networks .bg-sprite{
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-basis: 40px;
    width: 100%;
    max-width: 196px;
}


.social_networks .bg-sprite >li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-self: center;
}

.social_networks p{
    display: flex;
    align-self: center;
    color: #fff;
    margin-top: 26px;
}

.social_networks .bg-sprite li > a {
    height: 40px;
    width: 40px;
}

.social_networks .bg-sprite li > a:hover {
    opacity: 0.5;
}

.social_networks .bg-sprite  .bg-twitter {
    background: url('../images/css_sprites.png') -10px -10px;
}

.social_networks .bg-sprite  .bg-facebook {
    background: url('../images/css_sprites.png') -70px -10px;
}
.social_networks .bg-sprite .bg-google {
    background: url('../images/css_sprites.png') -130px -10px;
}
.social_networks .bg-sprite  .bg-instagram {
    background: url('../images/css_sprites.png') -190px -10px;
}
